<div class="container-fluid mt-5 pt-5 ">
    <footer class="ml-xl-5 ml-md-4 ml-3  ">
        <div class="row justify-content-end">
            <div class=" col-12">
                <div class="row pt-5">
                    <div class="col-xl-4 col-12 mr-auto">
                        <div class="media flex-sm-row flex-column ">
                            <img class="align-self-center img-fluid mobile-img " src="https://i.imgur.com/unD7BGU.png">
                            <div class="media-body">
                                <h4 class="mb-4 bonify">b<span><i class="fa fa-firefox text-light"
                                            aria-hidden="true"></i></span>nify</h4>
                                <h5 class="description-img"></h5><img
                                    src="https://cdn.shopify.com/s/files/1/1177/9056/files/1432-tuev-toxproof.jpg?2860823755569098971"
                                    class="img-fluid logo">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 my-auto ">
                        <div class="row justify-content-around">
                            <div class="col-md-3 col-12 mt-md-0 mt-3">
                                <ul class="list-unstyled text-muted">
                                    <li>Conditions</li>
                                    <li>Privacy</li>
                                    <li>Imprint</li>
                                    <li>Press</li>
                                    <li>COntact</li>
                                    <li>Jobs</li>
                                </ul>
                            </div>
                            <div class="col-md-3 col-12 mt-md-0 mt-3">
                                <ul class="list-unstyled text-muted">
                                    <li>Conditions</li>
                                    <li>Privacy</li>
                                    <li>Imprint</li>
                                    <li>Press</li>
                                    <li>COntact</li>
                                    <li>Jobs</li>
                                </ul>
                            </div>
                            <div class="col-md-3 col-12 mt-md-0 mt-3">
                                <ul class="list-unstyled text-muted">
                                    <li>Credit</li>
                                    <li>Bonitatsausktit</li>
                                    <li>Experience</li>
                                    <li>Tenet info</li>
                                    <li>SCHUFA SCORE</li>
                                </ul>
                            </div>
                            <div class="col-md-auto col-12">
                                <ul class="list-unstyled text-muted">
                                    <li>
                                    <li>Donwload App</li>
                                    <li><img src="https://i.imgur.com/iU0M5wp.png" class="img-fluid app-img"
                                            width="100"></li>
                                    <li><img src="https://i.imgur.com/M6ccl7k.png" class="img-fluid app-img"
                                            width="100"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4 bottom-row justify-content-between">
                    <div class="col-sm-auto mr-sm-4 my-auto pt-sm-0 pt-3 ">
                        <p><span><i class="fa fa-instagram" aria-hidden="true"></i></span> <span><i
                                    class="fa fa-twitter" aria-hidden="true"></i></span> <span><i class="fa fa-facebook"
                                    aria-hidden="true"></i></span> <span><i class="fa fa-linkedin"
                                    aria-hidden="true"></i></span> </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>