<div class="container">
    <app-header></app-header>
    <app-product-page></app-product-page>
    <div>
        <h1>Phụ kiện</h1>
        <div class="container d-flex justify-content-center mt-100">
            <div class="row">
                <div class="col-md-3">
                    <div class="product-wrapper mb-45 text-center">
                        <div class="product-img"> <a href="#" data-abc="true"> <img
                                    src="https://i.imgur.com/tL7ZE46.jpg" alt=""> </a> <span class="text-center"><i
                                    class="fa fa-rupee"></i> 43,000</span>
                            <div class="product-action">
                                <div class="product-action-style"> <a class="action-plus" title="Quick View"
                                        data-toggle="modal" data-target="#exampleModal" href="#" data-abc="true"> <i
                                            class="fa fa-plus"></i> Add to cart </a> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-wrapper mb-45 text-center">
                        <div class="product-img"> <a href="#" data-abc="true"> <img
                                    src="https://i.imgur.com/lAQxXCK.jpg" alt=""> </a> <span><i class="fa fa-rupee"></i>
                                41,000</span>
                            <div class="product-action">
                                <div class="product-action-style"> <a class="action-plus" title="Quick View"
                                        data-toggle="modal" data-target="#exampleModal" href="#" data-abc="true"> <i
                                            class="fa fa-plus"></i> Add to cart </a> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-wrapper mb-45 text-center">
                        <div class="product-img"> <a href="#" data-abc="true"> <img
                                    src="https://i.imgur.com/HxEEu5g.jpg" alt=""> </a> <span><i class="fa fa-rupee"></i>
                                33,000</span>
                            <div class="product-action">
                                <div class="product-action-style"> <a class="action-plus" title="Quick View"
                                        data-toggle="modal" data-target="#exampleModal" href="#" data-abc="true"> <i
                                            class="fa fa-plus"></i> Add to cart </a> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-wrapper mb-45 text-center">
                        <div class="product-img"> <a href="#" data-abc="true"> <img
                                    src="https://i.imgur.com/lAQxXCK.jpg" alt=""> </a> <span><i class="fa fa-rupee"></i>
                                23,000</span>
                            <div class="product-action">
                                <div class="product-action-style"> <a class="action-plus" title="Quick View"
                                        data-toggle="modal" data-target="#exampleModal" href="#" data-abc="true"> <i
                                            class="fa fa-plus"></i> Add to cart </a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>