<div class="col-lg-6 mx-auto">
    <div class="card h-100">
        <div class="card-inner">
            <div class="card-head">
                <h5 class="card-title">Add New Product</h5>
            </div>
            <form [formGroup]="productData" #product="ngForm" (ngSubmit)="onHandleAdd(product.value)">
                <div class="form-group">
                    <label class="form-label" for="cf-full-name">Name</label>
                    <input type="text" class="form-control" formControlName="name" ngModel>
                    <div *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)">
                        <div *ngIf="f.name.errors">
                            <div *ngIf="f.name.errors['required']">
                                <small class="form-text alert-danger p-1">Name is not required.</small>
                            </div>
                            <div *ngIf="f.name.errors['minlength']">
                                <small class="form-text alert-danger p-1">Name must be 4 or more characters.</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label" for="cf-email-address">Price</label>
                    <input type="number" class="form-control" formControlName="price" ngModel>

                    <div *ngIf="f.price.invalid && (f.price.dirty || f.price.touched)">
                        <div *ngIf="f.price.errors">
                            <div *ngIf="f.price.errors['required']">
                                <small class="form-text alert-danger p-1">Price is not required.</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label" for="cf-phone-no">Image</label>
                    <input type="file" class="form-control" name="imageUrl" (change)="onHandleInput($event)">
                    <img width="150" height="150" alt="">
                </div>
                <div class="form-group">
                    <label class="form-label" for="cf-default-textarea">Description</label>
                    <div class="form-control-wrap">
                        <textarea class="form-control form-control-sm" formControlName="description" ngModel
                            placeholder="Write your description"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-lg btn-primary" [disabled]="!productData.valid">Add</button>

                </div>
            </form>
            <a href="admin/products" class=" btn btn-lg btn-sm btn-primary my-3">Back</a>
        </div>
    </div>
</div>