<div class="nk-block nk-block-lg">
    <div class="nk-block-head">
        <div class="nk-block-head-content">
            <h4 class="nk-block-title">Transaction List - With Action</h4>
            <p>The following table can be use for <strong class="text-primary">invoice, payment history</strong> related
                transaction.</p>
        </div>
    </div>
    <div class="card card-preview">
        <table class="table table-tranx">
            <thead>
                <tr class="tb-tnx-head">
                    <th class=""><span class="">#</span></th>
                    <th class="">
                        <span>Name</span>
                    </th>
                    <th>
                        <span>Image</span>
                    </th>
                    <th>
                        <span>Price</span>
                    </th>
                    <th class="">
                        <span class="tb-tnx-total">Description</span>
                    </th>
                    <th class="tb-tnx-action">
                        <span>&nbsp;</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="tb-tnx-item">
                    <td class="">
                        <a href="#"><span>4947</span></a>
                    </td>
                    <td class="">
                        <span class="title">Enterprize Year Subscription</span>
                    </td>
                    <td>
                        <span class="date">10-05-2019</span>
                    </td>
                    <td>
                        <span class="date">10-13-2019</span>
                    </td>
                    <td class="">
                        <span class="amount">$599.00</span>
                    </td>
                    <td class="tb-tnx-action">
                        <div class="dropdown">
                            <a class="text-soft dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown"><em
                                    class="icon ni ni-more-h"></em></a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-xs">
                                <ul class="link-list-plain">
                                    <li><a href="#">View</a></li>
                                    <li><a href="#">Edit</a></li>
                                    <li><a href="#">Remove</a></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div><!-- .card -->
    <a href="admin/product-add" class="btn btn-sm btn-primary my-3">Add new product</a>
</div><!-- nk-block -->